button.ext-btn {
  --ext-btn-color: white;
  --ext-btn-background-color: var(--ext-primary);
  
  font-family: inherit;
  padding: 10px 16px;
  display: block;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  color: var(--ext-btn-color);
  background-color: var(--ext-btn-background-color);
  cursor: pointer;
  transition: 0.1s ease-in;
  height: auto;
  white-space: nowrap;
  font-size: 1em;

  &:hover {
    background-color: hsl(151, 83%, 31%);
  }

  * {
    color: var(--ext-btn-color);
  }
}

button.ext-btn {
  &.ext-rounded {
    border-radius: 1024px;
  }
}

button.ext-btn {
  &.ext-small {
    padding: 5px 10px;
    font-size: 13px;
  }
}

button.ext-btn {
  &.ext-danger {
    --ext-btn-background-color: var(--ext-danger);

    &:hover {
      background-color: hsl(2, 64%, 53%);
    }
  }

  &.ext-primary-dark {
    --ext-btn-background-color: var(--ext-primary-dark);

    &:hover {
      background-color: hsl(151, 83%, 12%);
    }
  }
}

button.ext-btn.ext-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;

  > span.icon {
    color: var(--ext-btn-color);

    &:not(:first-child) {
      padding-left: 7px;
    }
  }

  &.ext-small {
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &.ext-extra-small {
    width: 24px;
    height: 24px;
    padding: 5px;
  }
}

button.ext-btn.ext-outlined {
  background: transparent;
  color: var(--ext-btn-background-color);
  border: 1px solid var(--ext-btn-background-color);

  &.ext-icon {
    > span.icon {
      color: var(--ext-btn-background-color);
    }
  }

  &:hover {
    background-color: var(--ext-btn-background-color);
    color: var(--ext-btn-color);
    
    &.ext-icon {
      > span.icon {
        color: var(--ext-btn-color);
      }
    }
  }
}


