
.ext-expand {
  position: relative;

  &__trigger {
    z-index: 2;
    border: 1px solid grey;
    border-collapse: collapse;
    margin: -1px;
    transition: 0.15s ease;

    &:hover {
      filter: brightness(0.95);
    }
  }
  &__content {
    z-index: 1;
  }
}