
input {
  &[type="color"] {
    height: 16px;
    width: 24px;
  }
}

.transition {
  transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
}

.ext-input {
  --ext-input-color: var(--ext-primary);
  > * {
    font-size: 16px;
  }

  position: relative;
  
  &:first-of-type {
    padding-top: 0;
  }
    
  &:last-of-type {
    padding-bottom: 0
  }
    
  label {
    @extend .transition;
    transform-origin: left center;
    color: var(--ext-input-color) !important;
    font-weight: 100;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    padding: 10px 20px;
    top: -10px;
    left: 0;
    display: block;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    transform: scale(0.7);
  }
    
    
  input[type="text"], input[type="textarea"] {
    @extend .transition;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--ext-input-color);
    line-height: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px 15px 10px 15px;
    border-radius: 60px;
    color: var(--ext-input-color);
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    font-size: 1em;
    font-weight: bold;

    &:focus {
      outline: none;
      // background: var(--ext-input-color);
      // color: white;
      // font-weight: normal;
    }
        
    // &:focus ~ label {
    //   font-weight: bold;
    // }
  }

  &:not(.no-animation) {
    input[type="text"], input[type="textarea"] {
      &:focus {
        outline: none;
        background: var(--ext-input-color);
        color: white;
        margin-top: 35px;
        padding-top: 10px;
        font-weight: normal;
      }
          
      &:focus ~ label {
        transform: translate(-10px, -30px) scale(1);
        padding-bottom: 5px;
        font-weight: bold;
      }
    }
  }
}

.ext-radio-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  gap: 10px 10px;

  > .ext-radio:first-child {
    margin-left: -10px;
  }
}

.ext-radio {
  font-size: 1rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;


  *, *:before, *:after {
    box-sizing: border-box;
  }

  &__input {
    display: flex;

    > input[type="radio"] {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .ext-radio__control::after {
        display: block;
      }
    }
  }
  & &__control {
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    transform: translateY(-0.05em);
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: calc(1em - 8px);
      height: calc(1em - 8px);
      left: 2px;
      top: 2px;
      display: none;
      background: var(--ext-primary);
    }
  }

  & &__label {
    line-height: 1;
  }
}