
.popup {
  --ext-popup-background-color: var(--ext-background-color);
  --ext-popup-color: var(--ext-text-color);

  position: fixed;
  z-index: 100;
  color: var(--ext-popup-color);
  background-color: var(--ext-popup-background-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  *:not([class^="ext"]) {
    color: var(--ext-popup-color);
  }

  > div.popup__container {
    position: relative;
    padding: 12px;
    max-height: 500px;
    overflow-y: auto;
    font-size: 16px;
  }

  & &__actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }

  &.ext-popup-close {
    opacity: 0;
    z-index: -1;
    position: fixed;
  }
}
