
.popup {
  --ext-popup-background-color: var(--ext-background-color);
  --ext-popup-color: var(--ext-text-color);

  position: absolute;
  z-index: 100;
  color: var(--ext-popup-color);

  *:not([class^="ext"]) {
    color: var(--ext-popup-color);
  }

  > div.popup__container {
    position: relative;
    padding: 12px;
    background-color: var(--ext-popup-background-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 16px;
  }

  & &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &.ext-popup-close {
    opacity: 0;
    z-index: -1;
    position: fixed;
  }
}
