
.ext-title {
  font-size: 1.5em;
  font-weight: bold;
}

$fontSizes: (
  1: 2.5em,
  2: 2em,
  3: 1.5em,
  4: 1.25em,
  5: 1em,
  6: 0.75em,
  7: 0.5em
);

@mixin fontSize($index) {
  .ext-size-#{$index} {
    $size: map-get($fontSizes, $index);
    font-size: #{$size};
  }
}

@each $index, $value in $fontSizes {
  @include fontSize($index);
}